:root{
    --mint-cream: #F1F7ED;
    --msu-green: #243E36;
    --forest-green-crayola: #7CA982;
}
.container {
    width: 100%;
    background-color: var(--forest-green-crayola);
}
.title {
    color: var(--mint-cream);
    font-size: 5vw;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.labels {
    font-size: 2vw;
    font-weight:bold;
    color: var(--mint-cream);
}
.btns {
    border-radius: 10px;
    padding: .5vw 1.5vw;
    border: solid 0.3vw black;
    font-size: 1.8vw;
    font-weight: bold;
    color: black;
    background-color: var(--mint-cream);
}
.btns:hover {
    cursor: pointer;
    transition: .5s;
    color: var(--mint-cream);
    background-color: var(--forest-green-crayola);
    box-shadow: 9px 13px 21px 1px #141010;
}
.cardsContainer {
    display: grid; 
  grid-template-columns: auto auto auto; 
  grid-template-rows: auto auto auto; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . .";
}
@media only screen and (max-width: 600px) {
    .cardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}