:root{
    --mint-cream: #F1F7ED;
    --msu-green: #243E36;
    --forest-green-crayola: #7CA982;
}
.card {
    border: solid .5vw black;
    background-color: var(--msu-green);
    color: var(--mint-cream);
    width: 20vw;
    margin: 3vw;
}
.name {
    margin: 0%;
}
.diets {
    padding: .5vw;
    margin: 0%;
}
.btn {
    border-radius: 10px;
    padding: .5vw .5vw;
    border: solid .2vw black;
    font-size: 1vw;
    font-weight: bold;
    color: black;
    background-color: var(--mint-cream);
}
.btn:hover {
    cursor: pointer;
    transition: .5s;
    color: var(--mint-cream);
    background-color: var(--forest-green-crayola);
    box-shadow: 9px 13px 21px 1px #141010;
}