:root{
    --mint-cream: #F1F7ED;
    --msu-green: #243E36;
    --forest-green-crayola: #7CA982;
}
.container {
    width: 100%;
    background-color: var(--forest-green-crayola);
    animation: display 1s ease 0s 1 normal forwards;
}
.title {
    color: var(--mint-cream);
    font-size: 5vw;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn {
    border-radius: 10px;
    padding: 1.5vw 2.5vw;
    border: solid 0.3vw black;
    font-size: 1.8vw;
    font-weight: bold;
    color: black;
    background-color: var(--mint-cream);
}
.btn:hover {
    cursor: pointer;
    transition: .5s;
    color: var(--mint-cream);
    background-color: var(--forest-green-crayola);
    box-shadow: 9px 13px 21px 1px #141010;
}
@keyframes display {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
      
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}